.btn-home-add {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  border-color: rgb(210, 210, 210);
  color: rgb(80, 80, 80);
  padding: 10px 10px;
}

.btn-home-add:hover {
  color: white;
  background-color: rgb(210, 210, 210);
}
